streamlit
authlib
requests

CLIENT_ID = "14988331281-eh2p1s4f5n9fn852b8gqhjcdvcac6lgn.apps.googleusercontent.com"
CLIENT_SECRET = "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"
REDIRECT_URI = "http://localhost:8501"

AUTHORIZATION_ENDPOINT = "https://accounts.google.com/o/oauth2/auth"
TOKEN_ENDPOINT = "https://oauth2.googleapis.com/token"
USER_INFO = "https://www.googleapis.com/oauth2/v1/userinfo"